[submodule "bind/pybind11"]
	path = bind/pybind11
	url = https://github.com/pybind/pybind11
	branch = stable
	shallow = true
[submodule "lib/extern/nlohmann_json"]
	path = lib/extern/nlohmann_json
	url = https://github.com/nlohmann/json.git
	shallow = true
